<a href="https://colab.research.google.com/github/vikasgrg/Analytics/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 'Vikas Garg'

In [3]:
print(a)
print(type(a))

Vikas Garg
<class 'str'>

In [5]:
a = 9
b = 15
print(a == b)

False

In [2]:
import pandas as pd
df = pd.read_csv('employees.csv')
df.tail()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
49,140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

In [7]:
df.dtypes

EMPLOYEE_ID        int64
FIRST_NAME        object
LAST_NAME         object
EMAIL             object
PHONE_NUMBER      object
HIRE_DATE         object
JOB_ID            object
SALARY             int64
COMMISSION_PCT    object
MANAGER_ID        object
DEPARTMENT_ID      int64
dtype: object

In [8]:
df['FIRST_NAME'].dtype

dtype('O')

In [16]:
df.shape[1]

11

In [17]:
df.shape

(50, 11)

In [26]:
df.mean(numeric_only=True)

EMPLOYEE_ID       134.76
SALARY           6182.32
DEPARTMENT_ID      57.60
dtype: float64

In [24]:
df.describe()

       EMPLOYEE_ID        SALARY  DEPARTMENT_ID
count    50.000000     50.000000       50.00000
mean    134.760000   6182.320000       57.60000
std      33.631594   4586.181772       25.11687
min     100.000000   2100.000000       10.00000
25%     112.250000   2725.000000       50.00000
50%     124.500000   4600.000000       50.00000
75%     136.750000   8150.000000       60.00000
max     206.000000  24000.000000      110.00000

In [28]:
df['EMPLOYEE_ID'].count()

np.int64(50)

In [30]:
df['EMPLOYEE_ID'].mean()

np.float64(134.76)

In [32]:
print("Column Name : Data Type")
for col in df.columns:
  print(f"{col} : {df[col].dtype}")

Column Name : Data Type
EMPLOYEE_ID : int64
FIRST_NAME : object
LAST_NAME : object
EMAIL : object
PHONE_NUMBER : object
HIRE_DATE : object
JOB_ID : object
SALARY : int64
COMMISSION_PCT : object
MANAGER_ID : object
DEPARTMENT_ID : int64

In [37]:
df_salary = df.groupby(['JOB_ID'])
df_salary.mean(numeric_only=True)

            EMPLOYEE_ID   SALARY  DEPARTMENT_ID
JOB_ID
AC_ACCOUNT        206.0   8300.0          110.0
AC_MGR            205.0  12008.0          110.0
AD_ASST           200.0   4400.0           10.0
AD_PRES           100.0  24000.0           90.0
AD_VP             101.5  17000.0           90.0
FI_ACCOUNT        111.0   7920.0          100.0
FI_MGR            108.0  12008.0          100.0
HR_REP            203.0   6500.0           40.0
IT_PROG           105.0   5760.0           60.0
MK_MAN            201.0  13000.0           20.0
MK_REP            202.0   6000.0           20.0
PR_REP            204.0  10000.0           70.0
PU_CLERK          117.0   2780.0           30.0
PU_MAN            114.0  11000.0           30.0
SH_CLERK          198.5   2600.0           50.0
ST_CLERK          132.5   2750.0           50.0
ST_MAN            122.0   7280.0           50.0

In [39]:
df_salary = df.groupby(['JOB_ID'])['SALARY'].mean()
df_salary

JOB_ID
AC_ACCOUNT     8300.0
AC_MGR        12008.0
AD_ASST        4400.0
AD_PRES       24000.0
AD_VP         17000.0
FI_ACCOUNT     7920.0
FI_MGR        12008.0
HR_REP         6500.0
IT_PROG        5760.0
MK_MAN        13000.0
MK_REP         6000.0
PR_REP        10000.0
PU_CLERK       2780.0
PU_MAN        11000.0
SH_CLERK       2600.0
ST_CLERK       2750.0
ST_MAN         7280.0
Name: SALARY, dtype: float64

In [31]:
df['HIRE_DATE'] = pd.to_datetime(df['HIRE_DATE'], dayfirst=True)
df_compare = df[df['SALARY'] > 10000]
df_DOJ = df_compare[(df_compare['HIRE_DATE'] > '01-JAN-05') & (df_compare['HIRE_DATE'] < '31-DEC-05')]
df_DOJ

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,-,100,90

In [37]:
#Multi Columns
df[['FIRST_NAME', 'LAST_NAME', 'EMAIL']]

     FIRST_NAME    LAST_NAME     EMAIL
0        Donald     OConnell  DOCONNEL
1       Douglas        Grant    DGRANT
2      Jennifer       Whalen   JWHALEN
3       Michael    Hartstein  MHARTSTE
4           Pat          Fay      PFAY
5         Susan       Mavris   SMAVRIS
6       Hermann         Baer     HBAER
7       Shelley      Higgins  SHIGGINS
8       William        Gietz    WGIETZ
9        Steven         King     SKING
10        Neena      Kochhar  NKOCHHAR
11          Lex      De Haan   LDEHAAN
12    Alexander       Hunold   AHUNOLD
13        Bruce        Ernst    BERNST
14        David       Austin   DAUSTIN
15        Valli    Pataballa  VPATABAL
16        Diana      Lorentz  DLORENTZ
17        Nancy    Greenberg  NGREENBE
18       Daniel       Faviet   DFAVIET
19         John         Chen     JCHEN
20       Ismael      Sciarra  ISCIARRA
21  Jose Manuel        Urman   JMURMAN
22         Luis         Popp     LPOPP
23          Den     Raphaely  DRAPHEAL
24    Alexander         Khoo     AKHOO
25       Shelli        Baida    SBAIDA
26        Sigal       Tobias   STOBIAS
27          Guy       Himuro   GHIMURO
28        Karen   Colmenares  KCOLMENA
29      Matthew        Weiss    MWEISS
30         Adam        Fripp    AFRIPP
31        Payam     Kaufling  PKAUFLIN
32       Shanta      Vollman  SVOLLMAN
33        Kevin      Mourgos  KMOURGOS
34        Julia        Nayer    JNAYER
35        Irene  Mikkilineni  IMIKKILI
36        James       Landry   JLANDRY
37       Steven       Markle   SMARKLE
38        Laura       Bissot   LBISSOT
39        Mozhe     Atkinson  MATKINSO
40        James       Marlow   JAMRLOW
41           TJ        Olson   TJOLSON
42        Jason       Mallin   JMALLIN
43      Michael       Rogers   MROGERS
44           Ki          Gee      KGEE
45        Hazel   Philtanker  HPHILTAN
46       Renske       Ladwig   RLADWIG
47      Stephen       Stiles   SSTILES
48         John          Seo      JSEO
49       Joshua        Patel    JPATEL

In [46]:
df[['SALARY', 'EMPLOYEE_ID']].agg(['min', 'max','mean'])

        SALARY  EMPLOYEE_ID
min    2100.00       100.00
max   24000.00       206.00
mean   6182.32       134.76

In [47]:
df[df['SALARY']==24000]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
9,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,-,-,90

In [52]:
#Create Dataframe
dic = {"Name": "Vikas", "City": "Shamli", "Age": 41}
dic_multi = {"Name": ["Vikas", "Radha", "Sanvi"], "City": ["Shamli", "Gurugram", "Delhi"], "Age": [41, 9, 2]}
df1 = pd.DataFrame(dic_multi)
df1

    Name      City  Age
0  Vikas    Shamli   41
1  Radha  Gurugram    9
2  Sanvi     Delhi    2

In [54]:
#List to DF
l = ["Vikas", "Shamli", 41]
pd.DataFrame(l)

        0
0   Vikas
1  Shamli
2      41

In [56]:
#A Pandas Series is one-dimensional labeled array.
pd.Series(l)

0     Vikas
1    Shamli
2        41
dtype: object