<a href="https://colab.research.google.com/github/vikasgrg/Analytics/blob/main/RE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [ ]:
#Search for the first white-space character in the string:
txt = "The rain in Spain"
x = re.search("\s", txt)
x

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1437771358.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [ ]:
import re
#Find all lower case characters alphabetically between "a" and "m":
txt = "The rain in Spain"
x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
txt = "That will be 59 dollars"#Check if the string contains any digits (numbers from 0-9):
x = re.findall("\d", txt)
print(x)

['5', '9']

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-1252853757.py:2: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall("\d", txt)

In [ ]:
txt = "hello planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
txt = "hello planet"
#Check if the string starts with 'hello':
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:

txt = "hello planet"

#Check if the string ends with 'planet':
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [ ]:
txt = "heo planet"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

['heo']

In [ ]:
txt = "heo planet"
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)

[]

In [ ]:
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
import re
txt = "helo planet"
x = re.findall("he.?o", txt)
print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

['helo']

In [ ]:
txt= "hellko planet"
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

x = re.findall("he.{2}o", txt)

print(x)

['hello']

In [ ]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [ ]:
#Special Sequences
#A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

In [ ]:
#Check if "ain" is present at the beginning of a WORD:
txt = "ain The ainpp in ain"
x = re.findall("\bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if "ain" is present at the end of a WORD:
txt = "The rain in spain"
x = re.findall(r"ain\b", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
#Check if "ain" is present, but NOT at the beginning of a word:
txt = "The rain in spain"
x = re.findall(r"\Bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
#Check if "ain" is present, but NOT at the end of a word:

x = re.findall(r"ain\B", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:

#Return a match at every no-digit character:
x = re.findall("\D", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
#Return a match at every white-space character:

x = re.findall("\s", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
#Return a match at every NON white-space character:

x = re.findall("\S", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
txt="I am Nikanksha Jain from Mumbai India"
x = re.findall("\W", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', ' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
txt = "The rain in spain"
#Check if the string ends with "Spain":

x = re.findall("spain\Z", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['spain']
Yes, there is a match!

In [ ]:
#Check if the string has any a, r, or n characters:

x = re.findall("[arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

In [ ]:
#Check if the string has any characters between a and n:

x = re.findall("[a-n]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
#Check if the string has other characters than a, r, or n:

x = re.findall("[^arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 's', 'p', 'i']
Yes, there is at least one match!

In [ ]:
txt = "The rain in spain 99"
#Check if the string has any 0, 1, 2, or 3 digits:

x = re.findall("[0123]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
txt = "8 times before 11:45 AM"
#Check if the string has any digits:

x = re.findall("[0-9]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

In [ ]:
txt = "8 times before 11:65 AM"

#Check if the string has any two-digit numbers, from 00 to 59:

x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11']
Yes, there is at least one match!

In [ ]:
#Check if the string has any characters from a to z lower case, and A to Z upper case:

x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [ ]:
txt = "8 times before 11:65 AM -"
#Check if the string has any - characters:

x = re.findall("[-]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['-']
Yes, there is at least one match!

In [ ]:
#Split at each white-space character:

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
#Split the string only at the first occurrence:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [ ]:
#Replace every white-space character with the number 9:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

'S' in 'Spain12' starts at index 12

'Spain12' ends at index 19

In [ ]:
txt = "The rain in Spain12 7"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 19)

In [ ]:
import re

text = "Please contact us at support@example.com or sales@example.co.uk. For more info, visit our site."

# Regular expression pattern to match email addresses
pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"

# Find all matching patterns
emails = re.findall(pattern, text)

print(emails)

['support@example.com', 'sales@example.co.uk']

 Explanation of the Regex Pattern:
[a-zA-Z0-9._%+-]+: matches the username part (before @)

@: the literal @ symbol

[a-zA-Z0-9.-]+: matches the domain name

\.: matches the dot (.) before domain extension

[a-zA-Z]{2,}: matches the domain extension (like com, org, co.uk)

In [ ]:
import threading


def print_cube(num):
    # function to print cube of given num
    print("Cube: {}" .format(num * num * num))


def print_square(num):
    # function to print square of given num
    print("Square: {}" .format(num * num))



# creating thread
t1 = threading.Thread(target=print_square, args=(20,))
t2 = threading.Thread(target=print_cube, args=(5,))

# starting thread 1
t1.start()
# starting thread 2
t2.start()

# wait until thread 1 is completely executed
t1.join()
# wait until thread 2 is completely executed
t2.join()
# both threads completely executed
print("Done!")

Square: 400
Cube: 125
Done!